[submodule "external/boringssl"]
	branch = master
	path = external/boringssl
	url = ../../platform/external/boringssl
[submodule "external/googletest"]
	branch = master
	path = external/googletest
	url = ../../platform/external/googletest
[submodule "external/headers"]
	branch = master
	path = external/headers
	url = ../external/headers
[submodule "external/lk"]
	branch = master
	path = external/lk
	url = ../lk/common
[submodule "external/nanopb-c"]
	branch = master
	path = external/nanopb-c
	url = ../../platform/external/nanopb-c
[submodule "external/qemu"]
	branch = master
	path = external/qemu
	url = ../external/qemu
[submodule "hardware/libhardware"]
	branch = master
	path = hardware/libhardware
	url = ../../platform/hardware/libhardware
[submodule "prebuilts/clang/host/linux-x86"]
	branch = master
	path = prebuilts/clang/host/linux-x86
	url = ../../platform/prebuilts/clang/host/linux-x86
[submodule "prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.8"]
	branch = master
	path = prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.8
	url = ../../platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.8
[submodule "prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9"]
	branch = master
	path = prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
	url = ../../platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
[submodule "prebuilts/gcc/linux-x86/arm/arm-eabi-4.8"]
	branch = master
	path = prebuilts/gcc/linux-x86/arm/arm-eabi-4.8
	url = ../../platform/prebuilts/gcc/linux-x86/arm/arm-eabi-4.8
[submodule "prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9"]
	branch = master
	path = prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9
	url = ../../platform/prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9
[submodule "prebuilts/tools"]
	branch = master
	path = prebuilts/tools
	url = ../../platform/prebuilts/tools
[submodule "system/gatekeeper"]
	branch = master
	path = system/gatekeeper
	url = ../../platform/system/gatekeeper
[submodule "system/iot/attestation"]
	branch = master
	path = system/iot/attestation
	url = ../../platform/system/iot/attestation
[submodule "system/keymaster"]
	branch = master
	path = system/keymaster
	url = ../../platform/system/keymaster
[submodule "tools/repohooks"]
	branch = master
	path = tools/repohooks
	url = ../../platform/tools/repohooks
[submodule "trusty/device/arm/generic-arm64"]
	branch = master
	path = trusty/device/arm/generic-arm64
	url = ../device/arm/generic-arm64
[submodule "trusty/device/arm/vexpress-a15"]
	branch = master
	path = trusty/device/arm/vexpress-a15
	url = ../device/arm/vexpress-a15
[submodule "trusty/device/nxp/imx7d"]
	branch = master
	path = trusty/device/nxp/imx7d
	url = ../device/nxp/imx7d
[submodule "trusty/hardware/nxp"]
	branch = master
	path = trusty/hardware/nxp
	url = ../lk/nxp
[submodule "trusty/kernel"]
	branch = master
	path = trusty/kernel
	url = ../lk/trusty
[submodule "trusty/user/app/avb"]
	branch = master
	path = trusty/user/app/avb
	url = ../app/avb
[submodule "trusty/user/app/gatekeeper"]
	branch = master
	path = trusty/user/app/gatekeeper
	url = ../app/gatekeeper
[submodule "trusty/user/app/keymaster"]
	branch = master
	path = trusty/user/app/keymaster
	url = ../app/keymaster
[submodule "trusty/user/app/sample"]
	branch = master
	path = trusty/user/app/sample
	url = ../app/sample
[submodule "trusty/user/app/storage"]
	branch = master
	path = trusty/user/app/storage
	url = ../app/storage
[submodule "trusty/user/base"]
	branch = master
	path = trusty/user/base
	url = ../lib
[submodule "trusty/vendor/google/aosp"]
	branch = master
	path = trusty/vendor/google/aosp
	url = ../vendor/google/aosp
