/external/boringssl trusty
/external/googletest trusty
/external/headers trusty
/external/lk trusty
/external/nanopb-c trusty
/external/qemu trusty
/hardware/libhardware trusty
/prebuilts/clang/host/linux-x86 trusty
/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.8 trusty
/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9 trusty
/prebuilts/gcc/linux-x86/arm/arm-eabi-4.8 trusty
/prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9 trusty
/prebuilts/tools trusty
/system/gatekeeper trusty
/system/iot/attestation trusty
/system/keymaster trusty
/tools/repohooks trusty
/trusty/device/arm/generic-arm64 trusty
/trusty/device/arm/vexpress-a15 trusty
/trusty/device/nxp/imx7d trusty
/trusty/hardware/nxp trusty
/trusty/kernel trusty
/trusty/user/app/avb trusty
/trusty/user/app/gatekeeper trusty
/trusty/user/app/keymaster trusty
/trusty/user/app/sample trusty
/trusty/user/app/storage trusty
/trusty/user/base trusty
/trusty/vendor/google/aosp trusty
