/app/avb trusty
/app/gatekeeper trusty
/app/keymaster trusty
/app/sample trusty
/app/storage trusty
/device/arm/generic-arm64 trusty
/device/arm/vexpress-a15 trusty
/device/nxp/imx7d trusty
/external/boringssl trusty
/external/googletest trusty
/external/headers trusty
/external/lk trusty
/external/nanopb-c trusty
/external/qemu trusty
/hardware/libhardware trusty
/lib trusty
/lk/nxp trusty
/lk/trusty trusty
/prebuilts/clang/host/linux-x86 trusty
/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.8 trusty
/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9 trusty
/prebuilts/gcc/linux-x86/arm/arm-eabi-4.8 trusty
/prebuilts/gcc/linux-x86/arm/arm-linux-androideabi-4.9 trusty
/prebuilts/tools trusty
/system/gatekeeper trusty
/system/iot/attestation trusty
/system/keymaster trusty
/tools/repohooks trusty
/vendor/google/aosp trusty
